.font-swatches th, .font-swatches td {
  text-align: left;
  padding: 0 20px;
  vertical-align: middle;
  border-bottom: 1px solid $grey-L60;
  line-height: 1.5;
}

.font-swatch__name {
  font-weight: 600;
  width: 90px;
}

.font-swatch__usage {
  font-weight: 600;
  width: 80px;
}

.font-swatch__swatch-large-text span  { @include heading-font; }
.font-swatch__swatch-bold-text span   { @include bold-font; }
.font-swatch__swatch-normal-text span { @include base-font; }
.font-swatch__swatch-small-text span  { @include small-font; }
