<table class="font-swatches">
  <tr>
    <th>Font</th>
    <th>Usage</th>
    <th>Example</th>
  </tr>
  <tr class="font-swatch">
    <td class="font-swatch__name">Large text</td>
    <td class="font-swatch__usage">headings</td>
    <td  class="font-swatch__swatch font-swatch__swatch-large-text"><span>Pack my box with five dozen liquor jugs</span></td>
  </tr>
  <tr class="font-swatch">
    <td class="font-swatch__name">Bold text</td>
    <td class="font-swatch__usage">questions</td>
    <td  class="font-swatch__swatch font-swatch__swatch-bold-text"><span>Pack my box with five dozen liquor jugs</span></td>
  </tr>
  <tr class="font-swatch">
    <td class="font-swatch__name">Normal text</td>
    <td class="font-swatch__usage">paragraphs<br /> bullet lists</td>
    <td  class="font-swatch__swatch font-swatch__swatch-normal-text"><span>Pack my box with five dozen liquor jugs</span></td>
  </tr>
  <tr class="font-swatch">
    <td class="font-swatch__name">Small text</td>
    <td class="font-swatch__usage">prompts<br /> descriptors</td>
    <td  class="font-swatch__swatch font-swatch__swatch-small-text"><span>Pack my box with five dozen liquor jugs</span></td>
  </tr>
</table>
