.font-swatches th, .font-swatches td {
  text-align: left;
  padding: 0 20px;
  vertical-align: top;
  border-bottom: 1px solid $grey-60;
  line-height: 1.5;
}

.font-swatch__name {
  font-weight: 600;
  width: 90px;
}

.font-swatch__usage {
  font-weight: 600;
  width: 80px;
}

.font-swatch__swatch-large-text span  { @include large-font; font-weight: 600; color: $grey; }
.font-swatch__swatch-bold-text span   { @include base-font;  font-weight: 600; color: $grey; }
.font-swatch__swatch-normal-text span { @include base-font;  font-weight: 400; color: $grey; }
.font-swatch__swatch-small-text span  { @include small-font; font-weight: 400; color: $grey-20; }
