<h2 class="pl-heading">button (primary)</h2>
<div>
  <button class="button button--primary">Submit</button>
  <button class="button button--primary hover">Hover</button>
  <button class="button button--primary active">Active</button>
  <button class="button button--primary" disabled>Disabled</button>
</div>
<h2 class="pl-heading">button (secondary)</h2>
<div>
  <button class="button button--secondary">Submit</button>
  <button class="button button--secondary hover">Hover</button>
  <button class="button button--secondary active">Active</button>
  <button class="button button--secondary" disabled>Disabled</button>
</div>
<h2 class="pl-heading">button (next)</h2>
<div style="margin-left: 21px;">
  <button class="button button--next">Continue</button><br /><br />
  <button class="button button--next hover">Hover</button><br /><br />
  <button class="button button--next active">Active</button><br /><br />
  <button class="button button--next" disabled>Disabled</button>
</div>
<h2 class="pl-heading">button (previous)</h2>
<div>
  <button class="button button--previous">Back</button><br /><br />
  <button class="button button--previous hover">Hover</button><br /><br />
  <button class="button button--previous active">Active</button><br /><br />
  <button class="button button--previous" disabled>Disabled</button>
</div>
