<div class="form__field checkbox">
  <label>
    <input id="{{ id }}" name="{{ id }}" type="checkbox" {{ disabled }} {{ validation }} />
    {{ label }}
    <span class="checkmark"></span>
  </label>
</div>
