<div class="progress-indicator" data-step="1" data-steps="3"><em>1</em>/3</div>
<div class="progress-indicator" data-step="2" data-steps="3"><em>2</em>/3</div>
<div class="progress-indicator" data-step="3" data-steps="3"><em>3</em>/3</div>
