<form action="#">
<div class="input-field input-field--masked-date">
  <label>Date of birth
    <input id="dob" name="date" type="text" placeholder="dd/mm/yyyy" required />
  </label>
</div>
<input type="submit" />
</form>
