<p><small>* <i>As specified in the InDesign document.</small></i></p>
<table class="colour-swatches">
  <tr>
    <th>CSS class</th>
    <th>RGB colour*</th>
    <th>Colour</th>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$black</td>
    <td class="colour-swatch__rgb">rgb(0, 0, 0)</td>
    <td class="colour-swatch__swatch"><span class="black"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey</td>
    <td class="colour-swatch__rgb">rgb(51, 63, 72)</td>
    <td class="colour-swatch__swatch"><span class="grey"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-D10</td>
    <td class="colour-swatch__rgb">rgb(30, 37, 42)</td>
    <td class="colour-swatch__swatch"><span class="grey-D10"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-L20</td>
    <td class="colour-swatch__rgb">rgb(93, 115, 132)</td>
    <td class="colour-swatch__swatch"><span class="grey-L20"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-L35</td>
    <td class="colour-swatch__rgb">rgb(133, 153, 169)</td>
    <td class="colour-swatch__swatch"><span class="grey-L35"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-L52</td>
    <td class="colour-swatch__rgb">rgb(184, 196, 204)</td>
    <td class="colour-swatch__swatch"><span class="grey-L52"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-L60</td>
    <td class="colour-swatch__rgb">rgb(208, 215, 221)</td>
    <td class="colour-swatch__swatch"><span class="grey-L60"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-L66</td>
    <td class="colour-swatch__rgb">rgb(225, 230, 234)</td>
    <td class="colour-swatch__swatch"><span class="grey-L66"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey-L74</td>
    <td class="colour-swatch__rgb">rgb(249, 250, 251)</td>
    <td class="colour-swatch__swatch"><span class="grey-L74"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$white</td>
    <td class="colour-swatch__rgb">rgb(255, 255, 255)</td>
    <td class="colour-swatch__swatch"><span class="white"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$coral</td>
    <td class="colour-swatch__rgb">rgb(241, 91, 91)</td>
    <td class="colour-swatch__swatch"><span class="coral"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$coral-D20</td>
    <td class="colour-swatch__rgb">rgb(212, 18, 18)</td>
    <td class="colour-swatch__swatch"><span class="coral-D20"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$coral-D28</td>
    <td class="colour-swatch__rgb">rgb(174, 15, 15)</td>
    <td class="colour-swatch__swatch"><span class="coral-D28"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$coral-L32</td>
    <td class="colour-swatch__rgb">rgb(254, 241, 241)</td>
    <td class="colour-swatch__swatch"><span class="coral-L32"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$ruby</td>
    <td class="colour-swatch__rgb">rgb(166, 9,61)</td>
    <td class="colour-swatch__swatch"><span class="ruby"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$ruby-D8</td>
    <td class="colour-swatch__rgb">rgb(127, 7, 47)</td>
    <td class="colour-swatch__swatch"><span class="ruby-D8"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$ruby-L60</td>
    <td class="colour-swatch__rgb">rgb(254, 237, 243)</td>
    <td class="colour-swatch__swatch"><span class="ruby-L60"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$turquoise</td>
    <td class="colour-swatch__rgb">rgb(0, 129, 148)</td>
    <td class="colour-swatch__swatch"><span class="turquoise"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$turquoise-D12</td>
    <td class="colour-swatch__rgb">rgb(0, 76, 87)</td>
    <td class="colour-swatch__swatch"><span class="turquoise-D12"></span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$turquoise-D20</td>
    <td class="colour-swatch__rgb">rgb(0, 40, 46)</td>
    <td class="colour-swatch__swatch"><span class="" style="background-color:rgb(0, 40, 46);"></span></td>
  </tr>
</table>
