<p><small>* <i>As specified in the InDesign document.</small></i></p>
<table class="colour-swatches">
  <tr>
    <th>Design name*</th>
    <th>RGB specification*</th>
    <th>Example</th>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$black</td>
    <td class="colour-swatch__rgb">rgb(0,0,0)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-black"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$grey</td>
    <td class="colour-swatch__rgb">rgb(51,63,72)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">darken($grey, 10%)</td>
    <td class="colour-swatch__rgb">rgb(30,37,42)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey10"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($grey, 20%)</td>
    <td class="colour-swatch__rgb">rgb(93,115,132)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey-20"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($grey, 35%)</td>
    <td class="colour-swatch__rgb">rgb(133,153,169)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey-35"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($grey, 52%)</td>
    <td class="colour-swatch__rgb">rgb(184,196,204)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey-52"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($grey, 60%)</td>
    <td class="colour-swatch__rgb">rgb(208,215,221)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey-60"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($grey, 66%)</td>
    <td class="colour-swatch__rgb">rgb(225,230,234)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey-66"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($grey, 74%)</td>
    <td class="colour-swatch__rgb">rgb(249,250,251)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-grey-74"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$white</td>
    <td class="colour-swatch__rgb">rgb(255,255,255)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-white"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">darken($orange, 20%)</td>
    <td class="colour-swatch__rgb">rgb(112,30,0)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-orange-darker"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">darken($orange, 12%)</td>
    <td class="colour-swatch__rgb">rgb(153,41,0)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-orange-dark"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$orange</td>
    <td class="colour-swatch__rgb">rgb(214,57,0)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-orange"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">lighten($orange, 54%)</td>
    <td class="colour-swatch__rgb">rgb(255,240,234)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-orange-light"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">darken($purple, 8%)</td>
    <td class="colour-swatch__rgb">rgb(102,0,132)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-purple-dark"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$purple</td>
    <td class="colour-swatch__rgb">rgb(133,0,173)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-purple"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$purple 10%</td>
    <td class="colour-swatch__rgb">rgb(243,230,247)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-purple-light"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">darken($emerald, 20%)</td>
    <td class="colour-swatch__rgb">rgb(0,31,26)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-emerald-darker"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">darken($emerald, 12%)</td>
    <td class="colour-swatch__rgb">rgb(0,72,61)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-emerald-dark"><span>&nbsp;</span></td>
  </tr>
  <tr class="colour-swatch">
    <td class="colour-swatch__name">$emerald</td>
    <td class="colour-swatch__rgb">rgb(0,133,113)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-emerald"><span>&nbsp;</span></td>
  </tr>
  <!-- tr class="colour-swatch">
    <td class="colour-swatch__name">$magenta</td>
    <td class="colour-swatch__rgb">rgb(0,0,0)</td>
    <td  class="colour-swatch__swatch colour-swatch__swatch-magenta"><span>&nbsp;</span></td>
  </tr -->
</table>
