<div class="form__field input-field input-field--text input-field--postcode-lookup input-field--short">
  <label>Postcode
    <input id="{{ id }}" name="{{ id }}" type="text" {{ validation }} />
  </label>
  <button class="button button--tertiary button--postcode-find" type="button">Find</button>
  <a class="link link--enter-manually" href="#">or enter manually</a>
</div>
