<div class="form-field form-field--text form-field--postcode-lookup form-field--short">
  <label>Postcode
    <input id="{{ id }}" type="text" />
  </label>
  <button class="button button--secondary button--postcode-find" type="button">Find</button>
  <a class="link link--enter-manually" href="#">or enter manually</a>
</div>
