.input-field--postcode-lookup {
  @include small-font();
  position: relative;
  margin-bottom: 32px;

  .button--postcode-find,
  .link--enter-manually {
    display: inline-block;
    margin: 8px 16px 0 0;
  }
}
