<div class="radio">
  <label>
    <input id="option-1" name="option-1" type="radio" />
    Unselected
    <span class="checkmark"></span>
  </label>
</div>
<div class="radio hover">
  <label>
    <input id="option-2" name="option-2" type="radio" />
    Unselected (Hover)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio">
  <label>
    <input id="option-3" name="option-3" type="radio" checked />
    Selected (Checked)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio hover">
  <label>
    <input id="option-4" name="option-4" type="radio" checked />
    Selected (Checked, Hover)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio error">
  <label>
    <input id="option-5" name="option-5" type="radio" />
    Unselected (Error)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio error hover">
  <label>
    <input id="option-6" name="option-6" type="radio" />
    Unselected (Error, Hover)
    <span class="checkmark"></span>
  </label>
  <div class="message message--error">Error message</div>
</div>
