.radio {
  display: block;
  position: relative;
  margin-bottom: 1rem;;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    display: block;
    padding-left: 2rem;
    cursor: pointer;
  }

  [type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: $orange;
      border-color: $orange;

      &:hover {
        background-color: $orange-dark;
        border-color: $orange-dark;
      }

      &:after {
        display: block;
      }
    }
  }

  &:hover [type="radio"] ~ .checkmark,
  &.hover [type="radio"] ~ .checkmark {
    background-color: $orange-light;
  }

  &.error [type="radio"] ~ .checkmark {
    border-color: $purple;
  }

  &.error:hover [type="radio"] ~ .checkmark,
  &.error.hover [type="radio"] ~ .checkmark {
    background-color: $purple-light;
  }

  &.checked [type="radio"] ~ .checkmark {
    background-color: $orange;
    border-color: $orange;

    &:after {
      display: block;
    }
  }

  &:hover [type="radio"]:checked ~ .checkmark,
  &.hover.checked [type="radio"] ~ .checkmark {
    background-color: $orange-dark;
    border-color: $orange-dark;
  }

  .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 2px solid $grey-20;
    border-radius: 3px;
    background-color: $white;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 4px;
      height: 10px;
      border: 1px solid $white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
