<div class="radio">
  <label>
    <input id="option-1" name="option" type="radio" />
    Option 1
    <span class="checkmark"></span>
  </label>
</div>
<div class="radio hover">
  <label>
    <input id="option-2" name="option" type="radio" />
    Option 2 (Hover)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio checked">
  <label>
    <input id="option-3" name="option" type="radio" />
    Option 3 (Checked)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio checked hover">
  <label>
    <input id="option-4" name="option" type="radio" />
    Option 4 (Checked, Hover)
    <span class="checkmark"></span>
  </label>
</div>

<div class="radio error">
  <label>
    <input id="option-5" name="option" type="radio" />
    Option 5 (Error)
    <span class="checkmark"></span>
  </label>
  <div class="msg-error">Error text</div>
</div>

<div class="radio error hover">
  <label>
    <input id="option-6" name="option" type="radio" />
    Option 6 (Error, Hover)
    <span class="checkmark"></span>
  </label>
  <div class="msg-error">Error text</div>
</div>
