.segmented-control {
  padding-bottom: 29px;
  text-align: center;

  input[type=radio] {
    display: none;
  }

  label {
    @include form-segmented-control(unselected);
    width: 50%;

    &.error {
      @include form-segmented-control(error);
    }
  }

  input:checked + label, .checked {
    @include form-segmented-control(selected);
  }
}

.segmented-control ~ .message--error {
  padding-top: 20px;
}


.segmented-control-2-across label {
  width: 50%;
}

.segmented-control-3-across label {
  width: 33%;
}

.segmented-control-4-across label {
  width: 25%;
}
