.segmented-control {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
  text-align: center;

  input[type=radio] {
    @include hide-visually;
  }

  .segmented-control__label {
    @include form-segmented-control(unselected);
    width: 50%;

    &.invalid {
      @include form-segmented-control(invalid);
    }
  }

  input[type=radio]:checked + label, .checked {
    @include form-segmented-control(selected);
  }
}

.segmented-control--2-across .segmented-control__label {
  width: 50%;
}

.segmented-control--3-across .segmented-control__label {
  width: 33%;
}

.segmented-control--4-across .segmented-control__label {
  width: 25%;
}
