// base.scss

body {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 1024px;
	max-width: 1024px;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: $grey-74;
}

* {
	box-sizing: border-box;
}
