// Breakpoints
//
// Define breakpoints for the 'breakpoint-slicer' library
// @usage $slicer-breakpoints: a b c ...
//        to produce breakpoint ranges n = 1, 2, ...  where, for instance,
//        range 1 is between breakpoints a and b
//        Use the following mixins to create media queries:
//          from(n)       giving a min-width rule including that range
//          to(n)         giving a max-width rule including that range
//          at(n)         giving a min-width to max-width rule for that range
//          between(n, m) giving a min-width to max-width rule encompassing
//                        these ranges
$slicer-breakpoints: 0 600px 800px;

// Define aliases for the breakpoint ranges
$small: 1;  // Less than 600px
$medium: 2; // 601px to 800px
$large: 3;  // Over 801px
