// Neutrals
// $black: rgb(0,0,0);
// $grey: rgb(51, 63, 72);
// $grey10: rgb(30,37,42);
// $grey-20: rgb(93,115,132);
// $grey-35: rgb(133,153,169);
// $grey-52: rgb(184,196,204);
// $grey-60: rgb(208,215,221);
// $grey-66: rgb(225,230,234);
// $grey-74: rgb(249,250,251);
// $white: rgb(255,255,255);
//
// // Colours
// $orange: rgb(214,57,0);
// $orange-dark: rgb(153,41,0);
// $orange-darker: rgb(112,30,0);
// $orange-light: rgb(255,240,234);
//
// $purple: rgb(133,0,173);
// $purple-dark: rgb(102,0,132);
// $purple-light: rgb(243,230,247);
//
// $emerald: rgb(0,133,113);
// $emerald-dark: rgb(0,72,61);
// $emerald-darker: rgb(0,31,26);
//
// $magenta: rgb(179,42,119); // MEASURED

// Neutrals
$black:	rgb(0, 0, 0);
$grey:	rgb(51, 63, 72);
$grey-D10:	rgb(30, 37, 42);
$grey-L20:	rgb(93, 115, 132);
$grey-L35:	rgb(133, 153, 169);
$grey-L52:	rgb(184, 196, 204);
$grey-L60:	rgb(208, 215, 221);
$grey-L66:	rgb(225, 230, 234);
$grey-L74:	rgb(249, 250, 251);
$white:	rgb(255, 255, 255);

// Colours
$coral:	rgb(241, 91, 91);
$coral-D20:	rgb(212, 18, 18);
$coral-D28:	rgb(174, 15, 15);
$coral-L32:	rgb(254, 241, 241);
$ruby:	rgb(166, 9,61);
$ruby-D8:	rgb(127, 7, 47);
$ruby-L60:	rgb(254, 237, 243);
$turquoise:	rgb(0, 129, 148);
$turquoise-D12:	rgb(0, 76, 87);
$turquoise-D20:	rgb(0, 40, 46);



// Brand colours
$brand-primary: $coral;

// Form elements
$unselected: $coral;
$unselected-bg: $white;
$unselected-hover: $coral-D20;
$unselected-hover-bg: $coral-L32;

$selected: $white;
$selected-bg: $coral;
$selected-hover: $white;
$selected-hover-bg: $coral-D20k;

$error: $purple;
$error-bg: $white;
$error-hover: $purple;
$error-hover-bg: $purple-light;

$disabled: $grey-35;
$disabled-bg: $grey-60;

$placeholder: $grey-20;

$border-color: $grey-52;
$border-hover-color: $grey-20;
$border-shadow-color: $grey-60;
