// Basic colours
$black:	rgb(0, 0, 0);
$grey:	rgb(51, 63, 72);
$white:	rgb(255, 255, 255);
$coral:	rgb(241, 91, 91);
$ruby:	rgb(166, 9,61);
$turquoise:	rgb(0, 129, 148);

// Light variants
$grey-L20: lighten($grey, 20%);
$grey-L35: lighten($grey, 35%);
$grey-L52: lighten($grey, 52%);
$grey-L60: lighten($grey, 60%);
$grey-L66: lighten($grey, 66%);
$grey-L74: lighten($grey, 74%);
$coral-L32: lighten($coral, 32%);
// $ruby-L60: lighten($ruby, 60%); // SASS functio not matching the InDesign
$ruby-L60:	rgb(254, 237, 243);    // colour, so using InDesign RGB value.

// Dark variants
$grey-D10: darken($grey, 10%);
$coral-D20: darken($coral, 20%);
$coral-D28: darken($coral, 28%);
$ruby-D8: darken($ruby, 8%);
$turquoise-D12: darken($turquoise, 12%);
$turquoise-D20: darken($turquoise, 20%);

// Brand colours
$brand-primary: $coral;

$border-color: $grey-L52;
$border-hover-color: $grey-L20;
$border-shadow-color: $grey-L60;

// Colours using RGB values instead of SASS functions
// $black:	rgb(0, 0, 0);
// $grey:	rgb(51, 63, 72);
// $grey-D10:	rgb(30, 37, 42);
// $grey-L20:	rgb(93, 115, 132);
// $grey-L35:	rgb(133, 153, 169);
// $grey-L52:	rgb(184, 196, 204);
// $grey-L60:	rgb(208, 215, 221);
// $grey-L66:	rgb(225, 230, 234);
// $grey-L74:	rgb(249, 250, 251);
// $white:	rgb(255, 255, 255);
// $coral:	rgb(241, 91, 91);
// $coral-D20:	rgb(212, 18, 18);
// $coral-D28:	rgb(174, 15, 15);
// $coral-L32:	rgb(254, 241, 241);
// $ruby:	rgb(166, 9,61);
// $ruby-D8:	rgb(127, 7, 47);
// $ruby-L60:	rgb(254, 237, 243);
// $turquoise:	rgb(0, 129, 148);
// $turquoise-D12:	rgb(0, 76, 87);
// $turquoise-D20:	rgb(0, 40, 46);

// Brand colours
// $brand-primary: $coral;

// Form controls (buttons, select options, etc)
// $control-unselected: $coral;
// $control-unselected-bg: $white;
// $control-unselected-hover: $coral-D20;
// $control-unselected-hover-bg: $coral-L32;

// $control-selected: $white;
// $control-selected-bg: $coral;
// $control-selected-hover: $white;
// $control-selected-hover-bg: $coral-D20;

// $control-error: $ruby;
// $control-error-bg: $white;
// $control-error-hover: $ruby;
// $control-error-hover-bg: $ruby-L60;

// $control-disabled: $grey-L35;
// $control-disabled-bg: $grey-L60;

// Form inputs
// $input-placeholder: $grey-L20;

// $border-color: $grey-L52;
// $border-hover-color: $grey-L20;
// $border-shadow-color: $grey-L60;
