<div class="input-field input-field--text input-field--{{ size }}">
  <label>{{ label }}
    <input id="{{ id }}" name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}" {{ disabled }} {{ validation }} />
  </label>
</div>
