<div class="form__field dropdown-select">
  <label>{{ label }}
    <select id="{{ id }}" name="{{ id }}" {{ disabled }} {{ validation }}>
      <option disabled>Select&hellip;</option>
      {% for option in options %}
				{# For testing only, set to test for non-zero option. #}
				{% if loop.index == 0 %}
	      <option selected value="{{ option | lower | replace(' ', '_') }}">{{ option }}</option>
				{% else %}
  	    <option value="{{ option | lower | replace(' ', '_') }}">{{ option }}</option>
				{% endif %}
      {% endfor %}
    </select>
  </label>
</div>
