<fieldset class="date-field-group">
  <legend>{{ legend }}</legend>
  <div class="input-field input-field--text input-field--short">
    <label>Day (DD)
      <input id="{{ id }}-day" type="number" />
    </label>
  </div>
  <div class="input-field input-field--text input-field--short">
    <label>Month (MM)
      <input id="{{ id }}-month" type="number" />
    </label>
  </div>
  <div class="input-field input-field--text input-field--short">
    <label>Year (YYYY)
      <input id="{{ id }}-year" type="number" />
    </label>
  </div>
</fieldset>
