.date-field-group {
  @include clearfix();
  border: none;
  padding: 0;
  margin: 0 -6px 0 -10px;

  legend {
    @include small-font();
    display: block;
    font-weight: bold;
    color: $grey;
    margin: 0 0 4px 8px;
  }

  .input-field {
    width: 33%;
    float: left;
    padding: 0 10px;

    &:first-child { padding-left: 0 }
    &:last-child { padding-right: 0 }
  }
}
