<fieldset id="{{ id }}" class="date-field-group">
  <legend>{{ legend }}</legend>
  <div class="input-field input-field--text input-field--short">
    <label>Day (DD)
      <input id="{{ id }}-day" name="date-field-day" type="number"  {{ disabled }} {{ validation }} />
    </label>
  </div>
  <div class="input-field input-field--text input-field--short">
    <label>Month (MM)
      <input id="{{ id }}-month" name="date-field-month" type="number"  {{ disabled }} {{ validation }} />
    </label>
  </div>
  <div class="input-field input-field--text input-field--short">
    <label>Year (YYYY)
      <input id="{{ id }}-year" name="date-field-year" type="number"  {{ disabled }} {{ validation }} />
    </label>
  </div>
</fieldset>
