.date-field-group {
  @include clearfix();
  position: relative;
  border: none;
  margin: 0 -6px 32px -10px;

  legend {
    @include small-font();
    display: block;
    font-weight: bold;
    margin: 0 0 4px 8px;
  }

  .input-field {
    width: 33%;
    float: left;
    padding: 0 10px;

    &:first-child { padding-left: 0 }
    &:last-child { padding-right: 0 }
  }
}
