.date-field-group {
  @include clearfix();
  position: relative;
  border: none;
  margin: 0 0 28px;
  padding: 0;

  legend {
    @include small-font();
    display: block;
    font-weight: bold;
    margin: 0 0 4px;
    padding: 0;
  }

  .input-field {
    display: inline-block;
    padding: 0 10px 0 0;
    margin-bottom: 0;

//     &:first-child { padding-left: 0 }
    &:last-child { padding-right: 0 }
  }

  input[name="date-field-date"] {
    // @include hide-visually;
  }

  form & label.error {
    // position:absolute;
    // top: 72px;
    width: 480px;
  }
}
