<div class="page-navigation">
  <div class="page-navigation--previous">
    <button class="float-left button button--previous" type="button">{{ previous.label }}</button>
  </div>
  <div class="page-navigation--next">
    <button class="button button--next" type="submit" formaction="{{ next.url }}">{{ next.label }}</button>
  </div>
</div>
