.page-navigation {
  @include clearfix();
  margin: 28px 0;
}
.page-navigation--previous {
  width: 40%;
  float: left;
}

.page-navigation--next {
  width: 40%;
  float: right;
  text-align: right;
}
