<div class="page-navigation" style="margin-top: 28px;">
  <div class="float-left" style="width: 50%; float: left">
    <button class="float-left button button--previous" type="button">{{ previous.label }}</button>
  </div>
  <div class="float-left" style="width: 50%; float: right; text-align: right;">
    <button style="display: inline-block;" class="float-right button button--next" type="submit" formaction="{{ next.url }}">{{ next.label }}</button>
  </div>
</div>
