.form-field {
  &.form-field--short {
    width: 150px;
  }

  label {
    @include small-font
  }

  input {
    @include small-font
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 0 10px;
    box-shadow: inset 0 3px 0 0 $grey-66;

    &:hover {
      border-color: $border-hover-color;
    }
    &:focus, &:active {
      border-color: $orange;
    }
  }

  &.hover input {
    border-color: $border-hover-color;
  }

  &.focus input {
    border-color: $orange;
  }

  &.error input {
    border: 3px solid $purple;
  }
}
