<ul class="bulletpoints">
  <li>I understand that my personal details will be stored securely and that I am free to withdraw at any time without giving a reason.</li>
  <li>Another bullet point</li>
</ul>
