{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
{{ volunteer.progressIndicator(2, 4) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.heading('Create login details') }}
  {{ volunteer.paragraph('As a Volunteer you are only expressing your wish to be contacted for research (at this stage of the registration you are not consenting to participating in any studies).') }}
  {{ volunteer.paragraph('You are consenting to sharing of your personal data provided. Please carefully read the statement. You are required to provide your consent before you can continue registration as Volunteer.') }}
  {{ volunteer.bulletList( items=[
    'I confirm that I have read and understand the information within this form and can access a full version of the Volunteer Information Sheet on the XXX website or via the Helpline.',
    'I understand that my personal details will be stored securely and that I am free to withdraw at any time without giving a reason.',
    'I understand that only approved researchers, XXX staff at the University of Sydney and Helpline staff can look at my information on XXX.',
    'I agree that by providing my information I am not committing myself to participate in any research studies. However, I will be contacted about studies to which I am matched, based on the information I provide.',
    'I give permission to those researchers to view my information to see if I am suitable for their ethically approved dementia research studies, and for them to contact me to discuss those studies.',
    'I understand that by providing this information I am not committing to participate in any studies.',
    'I understand that the information held in XXX will linked to the Australian Institute of Health and Welfare, National Death Index and will be used to inform XXX in case of my death.'
    ]
  ) }}
  {% call volunteer.form('consent', '#', 'get') %}
  {{ volunteer.checkbox('Please tick this box to confirm that you consent for us to contact you to participate in research.', 'agree')}}
  {{ volunteer.pageNavigation(next={label: 'Create login', url: '#'}) }}
  {% endcall %}
</div>
{% endblock %}
