{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
<div class="user-bar">
  <div class="user-bar__users">
    <h1 class="volunteer" >Laura Ashley</h1>
  </div>
</div>
{{ volunteer.progressIndicator(2, 8) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.subHeading('Do you know what your diagnosis is?') }}
  {% call volunteer.form('what-diagnosis', '#', 'get') %}
  {{ volunteer.conditionalCheckboxGroup(
    'diagnosis',
    options = [
      {id: 'diagnosis', label: 'Blindness'},
      {id: 'diagnosis', label: 'Communication difficulties'},
      {id: 'diagnosis', label: 'Deafness'),
      {id: 'diagnosis', label: 'Learnng difficulties'),
      {id: 'diagnosis', label: 'Mobility problems')
    ]
  ) }}
  {{ volunteer.prompt('If you know the specific type of dementia you have been diagnosed with it will help us find the most appropriate study. If you have been given more than one diagnosis, tick more than one box.') }}
  {{ volunteer.pageNavigation({label: 'Back', url: '/volunteer/do-you-have-a-diagnosis-of-dementia.html'}, {label: 'Continue', url: '/volunteer/how-would-you-describe-your-symptoms.html'}) }}
  {% endcall %}
</div>
{% endblock %}
