{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
<div class="user-bar">
  <span class="user-bar__name">Username</span>
  <span class="user-bar__surname">Surname</span>
</div>
{{ volunteer.progressIndicator(3, 8) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.subheading('How would you describe your symptoms?') }}
  {% call volunteer.form('describe-symptoms', '#', 'get') %}
  {{ volunteer.segmentedControl('', 'symptoms', options=['Mild', 'Moderate', 'Severe']) }}
  {{ volunteer.prompt('Many studies are very specific about the symptoms&hellip;' | safe) }}
  {{ volunteer.pageNavigation(next={label: 'Continue', url: '#'}) }}
  {% endcall %}
</div>
{% endblock %}
