{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
<div class="user-bar">
  <div class="user-bar__users">
    <h1 class="volunteer" >Laura Ashley</h1>
  </div>
</div>
{{ volunteer.progressIndicator(3, 8) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.subheading('How would you describe your symptoms?') }}
  {% call volunteer.form('describe-symptoms', '#', 'get') %}
  {{ volunteer.segmentedControl('', 'symptoms', options=['Mild', 'Moderate', 'Severe']) }}
  {{ volunteer.prompt('Many studies are very specific about the symptoms&hellip;' | safe) }}
  {{ volunteer.pageNavigation({label: 'Back', url: '/volunteer/do-you-know-what-your-diagnosis-is.html'}, {label: 'Continue', url: '/volunteer/thank-you-for-registering.html'}) }}
  {% endcall %}
</div>
{% endblock %}
