{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
<div class="user-bar">
  <span class="user-bar__name">Username</span>
  <span class="user-bar__surname">Surname</span>
</div>
{{ volunteer.progressIndicator(3, 8) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.subheading('How would you describe your symptoms?') }}
  {% call volunteer.form('describe-symptoms', '#', 'get') %}
  {{ volunteer.conditionalCheckboxGroup(
    'diagnosis',
    options = [
      {id: 'diagnosis', label: 'Blindness'},
      {id: 'diagnosis', label: 'Communication difficulties'},
      {id: 'diagnosis', label: 'Deafness'),
      {id: 'diagnosis', label: 'Learnng difficulties'),
      {id: 'diagnosis', label: 'Mobility problems')
    ]
  ) }}
  {{ volunteer.prompt('If you know the specific type of dementia you have been diagnosed with it will help us find the most appropriate study. If you have been given more than one diagnosis, tick more than one box.') }}
  {{ volunteer.pageNavigation(next={label: 'Continue', url: '#'}) }}
  {% endcall %}
</div>
{% endblock %}
