{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <div class="user-bar">
    <div class="user-bar__users">
      <h1 class="volunteer" ><span class="label">Volunteer</span> Laura Ashley</h1>
      <h2 class="participant" ><span class="label">Representing</span> Ria Mitchell <span class="count">1</span></h1>
    </div>
    <div class="user-bar__menu">
      <div class="user-bar__menu-select">Accounts</div>
      <div class="user-bar__menu-options">
        <div class="user-bar__menu-option volunteer">
          <span class="name">Laura Ashley</span>
          <span class="label">Volunteer</span>
        </div>
        <div class="user-bar__menu-option participant active">
          <span class="name">Ria Mitchell <span class="count">1</span></span>
          <span class="label">Participant </span>
        </div>
        <div class="user-bar__menu-option">
          <span class="add-participant">Add participants</span>
        </div>
      </div>
    </div>
  </div>
  {{ volunteer.heading('<span class="heading__label">Participant</span> Ria Mitchell' | safe) }}
  {{ volunteer.tabBar(tabs=[
    {label: 'Profile', url: ''},
    {label: 'Studies <span class="count">1</span>' | safe, url: '#'},
    {label: 'Notifications', url: '#'},
    {label: 'Audit trail', url: '#'}
    ]) }}
    <div class="grid-row">
      <div class="grid-cell grid-cell--1-of-3 grid-cell--first">
        <div class="grid-cell__wrapper">
        </div>
      </div>
      <div class="grid-cell grid-cell--2-of-3 grid-cell--last">
        <div class="grid-cell__wrapper">
          <div class="accordion">
            <section class="accordion__item">
              <header class="accordion__header">
                <h2>Personal details</h2>
                <a class="accordion__edit">Edit</a>
              </header>
              <article class="accordion__content">
                <table>
                  <tr>
                    <th>Title</th>
                    <td>Mrs</td>
                  </tr>
                  <tr>
                    <th>First name</th>
                    <td>Ria</td>
                  </tr>
                  <tr>
                    <th>Surname</th>
                    <td>Mitchell</td>
                  </tr>
                  <tr>
                    <th>Gender</th>
                    <td>Female</td>
                  </tr>
                  <tr>
                    <th>Date of birth</th>
                    <td>12/01/1957</td>
                  </tr>
                </table>
              </article>
            </section>
            <section class="accordion__item">
              <header class="accordion__header">
                <h2>Dementia and memory information</h2>
                <a class="accordion__edit">Edit</a>
              </header>
              <article class="accordion__content">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </article>
            </section>
            <section class="accordion__item">
              <header class="accordion__header">
                <h2>Other health information and disabilities</h2>
                <a class="accordion__edit">Edit</a>
              </header>
              <article class="accordion__content">
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              </article>
            </section>
            <section class="accordion__item">
              <header class="accordion__header">
                <h2>NHS information</h2>
                <a class="accordion__edit">Edit</a>
              </header>
              <article class="accordion__content">
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus.</p>
              </article>
            </section>
            <section class="accordion__item">
              <header class="accordion__header">
                <h2>General information and preferences</h2>
                <a class="accordion__edit">Edit</a>
              </header>
              <article class="accordion__content">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
