{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <div class="user-bar">
    <div class="user-bar__users">
      <h1 class="volunteer" ><span class="label">Volunteer</span> Laura Ashley</h1>
    </div>
    <div class="user-bar__menu">
      <div class="user-bar__menu-select">Accounts</div>
      <div class="user-bar__menu-options">
        <div class="user-bar__menu-option volunteer active">
          <span class="name">Laura Ashley</span>
          <span class="label">Volunteer</span>
        </div>
        <div class="user-bar__menu-option">
          <span class="add-participant">Add participants</span>
        </div>
      </div>
    </div>
  </div>
  {{ volunteer.heading('<span class="heading__label">Volunteer</span> Laura Ashley' | safe) }}
  {{ volunteer.tabBar(tabs=[
    {label: 'Profile', url: ''},
    {label: 'Studies', url: '#'},
    {label: 'Notifications', url: '#'},
    {label: 'Audit trail', url: '#'}
    ]) }}
    <div class="grid-row">
      <div class="grid-cell grid-cell--1-of-3 grid-cell--first">
        <div class="grid-cell__wrapper">
          SEARCH
        </div>
      </div>
      <div class="grid-cell grid-cell--2-of-3 grid-cell--last">
        <div class="grid-cell__wrapper">
          TABBED CONTENT
        </div>
      </div>
    </div>


{% endblock %}
