{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
  <div class="user-bar">
    <div class="user-bar__users">
      <h1 class="volunteer" ><span class="label">Volunteer</span> Laura Ashley</h1>
      <h2 class="participant"><span class="label">Represented by</span> Ria Mitchell</h2>
    </div>
    <div class="user-bar__menu">
      <div class="user-bar__menu-select">Accounts</div>
      <div class="user-bar__menu-options">
        <div class="user-bar__menu-option volunteer active">
          <span class="name">Laura Ashley</span>
          <span class="label">Volunteer</span>
        </div>
        <div class="user-bar__menu-option">
          <span class="add-participant">Add participants</span>
        </div>
      </div>
    </div>
  </div>
  {{ volunteer.heading('Thank you for registering as a volunteer') }}
  {{ volunteer.paragraph('What would you like to do next?') }}
  <div class="grid-row">
    <div class="grid-cell grid-cell--1-of-3 grid-cell--first">
      {{ volunteer.activityButton('Register someone as a participant', 'contact', 'primary', '/volunteer/participant-registration.html') }}
    </div>
    <div class="grid-cell grid-cell--1-of-3">
      {{ volunteer.activityButton('Edit my account information', 'pencil', 'tertiary', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
    </div>
    <div class="grid-cell grid-cell--1-of-3 grid-cell--last">
      {{ volunteer.activityButton('Help spread the word', 'smiley', 'secondary', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
    </div>
  </div>
{% endblock %}
