{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
<!-- div class="page-content__inner-wrapper" -->
<div class="user-bar">
  <div class="user-bar__users">
    <h1 class="volunteer" ><span class="label">Volunteer</span> Laura Ashley</h1>
  </div>
  <div class="user-bar__menu">
    <div class="user-bar__menu-select">Accounts</div>
    <div class="user-bar__menu-options">
      <div class="user-bar__menu-option volunteer active">
        <span class="name">Laura Ashley</span>
        <span class="label">Volunteer</span>
      </div>
      <div class="user-bar__menu-option">
        <span class="add-participant">Add participants</span>
      </div>
    </div>
  </div>
</div>
  {{ volunteer.heading('Thank you for creating your account') }}
  {{ volunteer.paragraph('What would you like to do next?') }}
  <div class="grid-row">
    <div class="grid-cell grid-cell--1-of-2 grid-cell--first">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Register as a volunteer myself', 'note', 'primary', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
    <div class="grid-cell grid-cell--1-of-2 grid-cell--last">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Register someone else as a volunteer', 'contact', 'primary', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-cell--1-of-2 grid-cell--first">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Edit my account information', 'pencil', 'tertiary', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
    <div class="grid-cell grid-cell--1-of-2 grid-cell--last">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Help spread the word', 'smiley', 'secondary', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
  </div>
<!-- /div -->
{% endblock %}
