{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
<!-- div class="page-content__inner-wrapper" -->
  <div class="user-bar">
    <span class="user-bar__name">Username</span>
    <span class="user-bar__surname">Surname</span>
  </div>
  {{ volunteer.heading('Thank you for creating your account') }}
  {{ volunteer.paragraph('What would you like to do next?') }}
  <div class="grid-row">
    <div class="grid-cell grid-cell--1-of-2 grid-cell--first">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Register as a volunteer myself', 'note', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
    <div class="grid-cell grid-cell--1-of-2 grid-cell--last">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Register someone else as a volunteer', 'avatar', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-cell--1-of-2 grid-cell--first">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Edit my account information', 'pencil', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
    <div class="grid-cell grid-cell--1-of-2 grid-cell--last">
      <div class="grid-cell__wrapper">
        {{ volunteer.activityButton('Help spread the word', 'smiley', '/volunteer/do-you-have-a-diagnosis-of-dementia.html') }}
      </div>
    </div>
  </div>
<!-- /div -->
{% endblock %}
