{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
{{ volunteer.progressIndicator(4, 4) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.heading('Verify your email address') }}
  {{ volunteer.paragraph('To continue you must verify your email address. Please check your inbox for a verification code.') }}
  {% call volunteer.form('verify-your-email-address', '#', 'get' ) %}
  {{ volunteer.inputField('Verification code', 'verification-code') }}
  {{ volunteer.paragraph('<small><a href="#">Resend code</a></small>' | safe) }}
  {{ volunteer.pageNavigation({label: 'Back', url: '/volunteer/consent.html'}, {label: 'Verify email', url: '/volunteer/thank-you-for-creating-your-account.html'}) }}
  {% endcall %}
</div>
{% endblock %}
