{% extends "volunteer-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}


{% block content %}
{{ volunteer.progressIndicator(1, 3) }}
<div class="page-content__inner-wrapper">
  {{ volunteer.heading('Your details') }}
  {{ volunteer.paragraph('Thank you for registering. The first step is to create
  an account. Please begin by telling us who you are.') }}
  {% call volunteer.form('your-details', '#', 'get' ) %}
  {{ volunteer.shortInput('Title', 'name') }}
  {{ volunteer.input('First name(s)', 'first-name') }}
  {{ volunteer.input('Surname', 'surname') }}
  {{ volunteer.dobInput() }}
  {{ volunteer.segmentedControl() }}
  {{ volunteer.postcode() }}
  {{ volunteer.input('Telephone number', 'telephone') }}
  {{ volunteer.select('How did you hear about us? (optional)', 'how-heard', ['Option 1', 'Option 2']) }}
  {% endcall %}
</div>
{% endblock %}
