<div class="site-sponsors">
  <div class="site-sponsor">
    <span>dementia australia</span>
  </div>
  <div class="site-sponsor">
    <span>Australian Government<br />Department of Health</span>
  </div>
</div>
