.footer {
  @include clearfix;
  background-color: $mid-grey;
  padding: 2rem;
}

.footer__navigation {
  float: left;
  width: 70%;
}

.footer__signup {
  float: left;
  width: 30%;
  font-weight: 700;
  color: $white;

  input{
    @include border-left-radius(3px);
    float: left;
    height: 2rem;
    width: 10rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    border: 0;

  }

  button {
    @include border-right-radius(3px);
    float: left;
    position: relative;
    left: -2px;
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    background-color: $brand-primary;
    font-weight: 700;
    color: $white;
    border: 0;
  }
}

.menu--info {
  margin: 0;
  padding: 0;

  .menu__link {
    border-right: 1px solid $white;

    &:last-child {
      border: 0;
    }
  }

  a {
    padding: 0 0.5rem;
    color: $white;
  }
}

.menu--smallprint {
  margin: 0;
  padding: 1rem 0 0 0;

  menu__link {
    margin: 0;
    padding: 0;
  }

  a {
    padding: 0 0 0 0.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    color: $white;
  }
}
