<div class="form__field file-upload">
  <ul class="file-upload__file-list">
  </ul>
  <div class="file-upload__uploading">Uploading&hellip;</div>
  <div class="file-upload__success">Success!</div>
  <div class="file-upload__error">Error! <span></span>.</div>
  <div class="file-upload__uploader">
    <label>
      Drag file here or <span class="file-upload__browse">browse</span>
      <input class="file-upload__input" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    </label>
    <button class="file-upload__button" type="submit">Upload</button>
  </div>
</div>
