<div id="file-upload" class="form__field file-upload">
<button class="file-upload__open-dashboard UppyModalOpenerBtn">Open Uppy Dashboard Modal</button>
<div class="file-upload__dashboard-container DashboardContainer"></div>
</div>
