<h2 class="pl-heading">No files uploaded</h2>
<div class="file-upload">
  <ul class="file-upload__file-list">
  </ul>
  <div class="file-upload__uploader">
    <label>
      Drag file here or <span class="file-upload__browse">browse</span>
      <input class="file-upload__input" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    </label>
    <button class="file-upload__button" type="submit">Upload</button>
    <div class="file-upload__uploading">Uploading&hellip;</div>
    <div class="file-upload__success">Done!</div>
    <div class="file-upload__error">Error! <span></span>.</div>
  </div>
</div>
<h2 class="pl-heading">No files uploaded (hover)</h2>
<div class="file-upload">
  <ul class="file-upload__file-list">
  </ul>
  <div class="file-upload__uploader hover">
    <label>
      Drag file here or <span class="file-upload__browse">browse</span>
      <input class="file-upload__input" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    </label>
    <button class="file-upload__button" type="submit">Upload</button>
    <div class="file-upload__uploading">Uploading&hellip;</div>
    <div class="file-upload__success">Done!</div>
    <div class="file-upload__error">Error! <span></span>.</div>
  </div>
</div>
<h2 class="pl-heading">Files uploaded</h2>
<div class="file-upload">
  <ul class="file-upload__file-list">
    <li class='file-upload__file-added'>filename.pdf <span class="file-upload__delete-file"></span></li>
    <li class='file-upload__file-added'>another_filename.doc <span class="file-upload__delete-file"></span></li>
  </ul>
  <div class="file-upload__uploader">
    <label>
      Drag file here or <span class="file-upload__browse">browse</span>
      <input class="file-upload__input" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    </label>
    <button class="file-upload__button" type="submit">Upload</button>
    <div class="file-upload__uploading">Uploading&hellip;</div>
    <div class="file-upload__success">Done!</div>
    <div class="file-upload__error">Error!</div>
  </div>
</div>
