{% extends "pattern-library-layout.njk" %}

{% block content %}
  <h4 class="pl-heading">Connect Dementia Research<br><small>Pattern Library</small></h4>
  <p>Component and module library for the Connect Dementia Research project website.</p>
  <p>Reusable components and modules, linked in the menu on the left, are illustrated with a description, one or more examples, the HTML code used for the example and the SCSS code used to generate the CSS styling for that example.</p>
  <p>Where dynamic styling needs to be illustrated, for instance <em>hover</em> and <em>checked</em> states, they are simulated using classes. These classes are not required in production code.</p>
{% endblock %}
