{% extends "pattern-library-layout.njk" %}

{% block content %}
  <h4 class="pl-heading">Checkboxes</h4>
  <p><small>To illustrate the styling of <em>checked</em> and <em>hover</em> states, <code>.hover</code> and <code>.checked</code> classes have been added to simulate these states. These classes are not required in production where the <code>:hover</code> and <code>:checked</code> pseudo-classes are used.</small></p>
  {% include 'components/checkboxes/_checkboxes.njk' %}
  <h4 class="pl-heading">HTML</h4>
  <textarea class="pl-code">
    {% include 'components/checkboxes/_checkboxes.njk' %}
  </textarea>
  <h4 class="pl-heading">SCSS</h4>
  <textarea class="pl-code">
    {% include 'components/checkboxes/_checkboxes.scss' ignore missing %}
  </textarea>
{% endblock %}
