{% extends "pattern-library-layout.njk" %}

{% block content %}
  <h4 class="pl-heading">Paragraph</h4>
  {% include 'components/paragraph/_paragraph.njk' %}
  <h4 class="pl-heading">HTML</h4>
  <textarea class="pl-code">
    {% include 'components/paragraph/_paragraph.njk' %}
  </textarea>
  <h4 class="pl-heading">SCSS</h4>
  <textarea class="pl-code">
    {% include 'components/paragraph/_paragraph.scss' ignore missing %}
  </textarea>
{% endblock %}
