{% extends "pattern-library-layout.njk" %}

{% block content %}
  <h1 class="pl-heading">Paragraph</h1>
  {% include 'components/paragraph/_paragraph.njk' %}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/paragraph/_paragraph.njk' %}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/paragraph/_paragraph.scss' ignore missing %}
  </textarea>
{% endblock %}
