{% extends "pattern-library-layout.njk" %}

{% block content %}
  <h1 class="pl-progress-indicator">Progress indicator</h1>
  {% include 'components/progress-indicator/_progress-indicator.njk' ignore missing %}
  <h2 class="pl-progress-indicator">HTML</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/progress-indicator/_progress-indicator.njk' ignore missing %}
  </textarea>
  <h2 class="pl-progress-indicator">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/progress-indicator/_progress-indicator.scss' ignore missing %}
  </textarea>
{% endblock %}
