{% extends "pattern-library-layout.njk" %}

{% block content %}
  <h1 class="pl-heading">Question</h1>
  {% include 'components/question/_question.njk' %}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code">
    {% include 'components/question/_question.njk' %}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code">
    {% include 'components/question/_question.scss' ignore missing %}
  </textarea>
{% endblock %}
