.button--activity {
  @include bold-font;
  display: inline-block;
  padding: 20px;
  color: $white;
  width: 348px;
  height: 136px;
  text-align: left;
  vertical-align: top;

  &::after {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 18px;
    height: 20px;
    content: '\00a0';
    background: transparent url('/images/icon-avatar.svg') top left no-repeat;
    opacity: 0.6;
  }
}
