<div class="input-field input-field--password input-field--{{ size }}">
  <label>{{ label }}
    <input id="{{ id }}" type="password" placeholder="{{ placeholder }}" {{ disabled }} {{ validation }} />
  </label>
  <div class="show">Show</div>
</div>
