.form-field {
  margin-bottom: 28px;

  &.form-field--short {
    input {
      width: 150px;
    }
  }

  label {
    @include small-font;
    padding-bottom: 28px;
  }

  input {
    @include small-font;
    display: block;
    width: 100%;
    height: 40px;
    color: $grey;
    margin-top: 8px;
    border: 1px solid $border-color;
    padding: 0 10px;
    box-shadow: inset 0 3px 0 0 $grey-L66;

    &::placeholder {
      color: $grey-L20;
      opacity: 1;
    }

    &:hover {
      border-color: $border-hover-color;
    }
    &:focus, &:active {
      border-color: $coral;
    }
  }

  &.hover input {
    border-color: $border-hover-color;
  }

  &.focus input {
    border-color: $coral;
  }

  &.error input {
    border: 3px solid $ruby;
  }
}

.form-field-group--dob {
  @include clearfix();
  border: none;
  padding: 0;
  margin: 0 -6px 0 -10px;

  legend {
    @include small-font();
    display: block;
    font-weight: bold;
    color: $grey;
    margin: 0 0 4px 8px;
  }

  .form-field {
    width: 33%;
    float: left;
    padding: 0 10px;

    &:first-child { padding-left: 0 }
    &:last-child { padding-right: 0 }
  }
}
