<h2 class="pl-heading">Long form fields</h2>

<div class="form-field form-field--text">
  <label>Label text
    <input id="field-1" name="field-1" type="text" placeholder="Placeholder text" />
  </label>
</div>
<br />
<div class="form-field form-field--text hover">
  <input id="field-2" name="field-2" type="text" placeholder="Placeholder text" value="Sample input" />
</div>
<br />
<div class="form-field form-field--text focus">
  <input id="field-3" name="field-3" type="text" placeholder="Placeholder text"  value="Active input"/>
</div>
<br />
<div class="form-field form-field--text error">
  <input id="field-4" name="field-4" type="text" placeholder="Placeholder text"  value="Incorrect input"/>
  <div class="message message--error">Error message</div>
</div>

<h2 class="pl-heading">Short form fields</h2>

<div class="form-field form-field--text form-field--short">
  <label>Label text
    <input id="field-1" name="field-1" type="text" placeholder="Placeholder text" />
  </label>
</div>
<br />
<div class="form-field form-field--text form-field--short hover">
  <input id="field-2" name="field-2" type="text" placeholder="Placeholder text" value="Sample input" />
</div>
<br />
<div class="form-field form-field--text form-field--short focus">
  <input id="field-3" name="field-3" type="text" placeholder="Placeholder text"  value="Active input"/>
</div>
<br />
<div class="form-field form-field--text form-field--short error">
  <input id="field-4" name="field-4" type="text" placeholder="Placeholder text"  value="Incorrect input"/>
  <div class="message message--error">Error message</div>
</div>

<h2 class="pl-heading">Date field group</h2>
<fieldset class="form-field-group form-field-group--dob">
  <legend>Date of birth</legend>
  <div class="form-field form-field--text form-field--short">
    <label>Day
      <input id="dob-day" name="dob-day" type="number" placeholder="DD" />
    </label>
  </div>
  <div class="form-field form-field--text form-field--short">
    <label>Month
      <input id="dob-month" name="month" type="number" placeholder="MM" />
    </label>
  </div>
  <div class="form-field form-field--text form-field--short">
    <label>Year
      <input id="dob-year" name="dob-year" type="number" placeholder="YYYY" />
    </label>
  </div>
</fieldset
