<nav class="site-navigation" role="navigation">
  <ul class="menu menu--site">
    {% for link in site.navigation.links %}
      <li class="menu__link"><a href="{{ link | lower | replace(' ', '-') }}">{{ link }}</a></li>
    {% endfor %}
  </ul>
  <ul class="menu menu--user">
    {% for link in site.navigation.user %}
      <li class="menu__link"><a href="{{ link | lower | replace(' ', '-') }}">{{ link }}</a></li>
    {% endfor %}
  </ul>
</nav>
