.site-navigation {
  @include clearfix;
  background-color: $light-grey;
}

.menu--site {
  background-color: $light-grey;

  a {
    color: $black;
  }
}

.menu--user {
  background-color: $brand-primary;
  float: right;

  a {
    color: $white;
    font-weight: 400;
    border-right: 1px solid $white;
  }
}
