<div class="social-media">
  <a href="#" class="social-media__button social-media__button--facebook"></a>
  <a href="#" class="social-media__button social-media__button--twitter"></a>
  <a href="#" class="social-media__button social-media__button--youtube"></a>
  <a href="#" class="social-media__button social-media__button--googleplus"></a>
</div>
