<div class="form__field radio-button">
  <label>
    <input id="{{ id }}" name="{{ id }}" type="radio" {{ disabled }} {{ validation }} />
    {{ label }}
    <span class="checkmark"></span>
  </label>
</div>
