.radio {
  display: block;
  position: relative;
  margin-bottom: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    @include small-font;
    display: block;
    padding-left: 2.5em;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid $grey-L35;
    border-radius: 50%;
    background-color: $white;
    box-shadow: inset 0 3px 0 0 $grey-L66;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 50%;
      background-color: $coral;
    }
  }

  [type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: $white;
      border-color: $coral;
      box-shadow: none;

      &:hover {
        background-color: $white;
        border-color: $coral-D20;
      }

      &:after {
        display: block;
      }
    }
  }

  &:hover [type="radio"] ~ .checkmark,
  &.hover [type="radio"] ~ .checkmark {
    background-color: $coral-L32;
  }

  &:hover [type="radio"]:checked ~ .checkmark,
  &.hover [type="radio"]:checked ~ .checkmark {
    background-color: $white;
    border-color: $coral-D20;

    &:after {
      background-color: $coral-D20;
    }
  }

  &.error [type="radio"] ~ .checkmark {
    border-color: $ruby;
    border-width: 3px;
  }

  &.error:hover [type="radio"] ~ .checkmark,
  &.error.hover [type="radio"] ~ .checkmark {
    background-color: $ruby-L60;
  }
}
