<div class="segmented-controls">
  <label>
    <input id="option-A1" name="option-A" type="radio" />
    Option 1
  </label>
  <label>
    <input id="option-A2" name="option-A" type="radio" />
    Option 2
  </label>
</div>

<div class="segmented-controls">
  <label class="checked">
    <input id="option-B1" name="option-B" type="radio" />
    Option 1 (Checked)
  </label>
  <label>
    <input id="option-B2" name="option-B" type="radio" />
    Option 2
  </label>
</div>

<div class="segmented-controls">
  <label class="checked hover">
    <input id="option-C1" name="option-C" type="radio" />
    Option 1 (Checked, Hover)
  </label>
  <label class="hover">
    <input id="option-C2" name="option-C" type="radio" />
    Option 2 (Hover)
  </label>
</div>

<div class="segmented-controls">
  <label class="error">
    <input id="option-D1" name="option-D" type="radio" />
    Option 1 (Error)
  </label>
  <label class="error">
    <input id="option-D2" name="option-D" type="radio" />
    Option 2 (Error)
  </label>
  <div class="msg-error">Error text</div>
</div>

<div class="segmented-controls">
  <label class="error hover">
    <input id="option-E1" name="option-E" type="radio" />
    Option 1 (Error, Hover)
  </label>
  <label class="error">
    <input id="option-E2" name="option-E" type="radio" />
    Option 2 (Error)
  </label>
  <div class="msg-error">Error text</div>
</div>

<div class="segmented-controls segmented-controls-3">
  <label>
    <input id="option-F1" name="option-F" type="radio" />
    Option 1
  </label>
  <label>
    <input id="option-F2" name="option-F" type="radio" />
    Option 2
  </label>
  <label>
    <input id="option-F3" name="option-F" type="radio" />
    Option 3
  </label>
</div>

<div class="segmented-controls segmented-controls-4">
  <label>
    <input id="option-G1" name="option-G" type="radio" />
    Option 1
  </label>
  <label>
    <input id="option-G2" name="option-G" type="radio" />
    Option 2
  </label>
  <label>
    <input id="option-G3" name="option-G" type="radio" />
    Option 3
  </label>
  <label>
    <input id="option-G4" name="option-G" type="radio" />
    Option 4
  </label>
</div>
