.segmented-controls {
  padding: 12px;
  text-align: center;

  input[type=radio] {
    display: none;
  }

  label {
    @include small-font;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid $border-color;
    padding: 0.5rem;
    color: $orange;
    background-color: $white;
    cursor: pointer;
    margin-left: -4px;
    box-shadow: 0 4px 0 0 $border-shadow-color;

    &:hover, &.hover {
      color: $orange-dark;
      background-color: $orange-light;
    }

    &.error {
      color: $purple;

      &:hover, &.hover {
        background-color: $purple-light;
      }
    }

    &:first-of-type {
      @include border-left-radius(3px)
    }

    &:last-of-type {
      @include border-right-radius(3px)
    }

  }

  input:checked + label, .checked {
    color: $white;
    background-color: $orange;
    border-color: $orange;
    border-bottom-color: $border-color;

    &:hover, &.hover {
      color: white;
      background-color: $orange;
    }
  }
}

.segmented-controls-2 label {
  width: 50%;
}

.segmented-controls-3 label {
  width: 33.3%;
}

.segmented-controls-4 label {
  width: 25%;
}

.msg-error {
  @include small-font
  padding-top: 5px;
  color: $purple;
  text-align: left;
  font-weight: 600;

  &:before {
    content: url('/images/icon-error.svg');
    position: relative;
    top: 2px;
    padding-right: 0.5rem;
  }
}
