<div class="segmented-controls segmented-controls-2-across">
  <label class="segmented-control">
    <input id="option-A1" name="option-A" type="radio" />
    Unselected
  </label>
  <label class="segmented-control">
    <input id="option-A2" name="option-A" type="radio" />
    Unselected
  </label>
</div>

<div class="segmented-controls segmented-controls-2-across">
  <label class="segmented-control checked">
    <input id="option-B1" name="option-B" type="radio" checked />
    Selected
  </label>
  <label class="segmented-control">
    <input id="option-B2" name="option-B" type="radio" />
    Unselected
  </label>
</div>

<div class="segmented-controls segmented-controls-2-across">
  <label class="segmented-control hover checked">
    <input id="option-C1" name="option-C" type="radio" checked />
    Hover
  </label>
  <label class="segmented-control hover">
    <input id="option-C2" name="option-C" type="radio" />
    Hover
  </label>
</div>

<div class="segmented-controls segmented-controls-3-across">
  <label class="segmented-control checked">
    <input id="option-F1" name="option-F" type="radio" />
    Selected
  </label>
  <label class="segmented-control">
    <input id="option-F2" name="option-F" type="radio" />
    Unselected
  </label>
  <label class="segmented-control">
    <input id="option-F3" name="option-F" type="radio" />
    Unselected
  </label>
</div>

<div class="segmented-controls segmented-controls-2-across">
  <label class="segmented-control error">
    <input id="option-D1" name="option-D" type="radio" />
    Unselected
  </label>
  <label class="segmented-control error">
    <input id="option-D2" name="option-D" type="radio" />
    Unselected
  </label>
  <div class="message message--error">Error message</div>
</div>

<div class="segmented-controls segmented-controls-2-across">
  <label class="segmented-control error hover">
    <input id="option-E1" name="option-E" type="radio" />
    Hover
  </label>
  <label class="segmented-control error">
    <input id="option-E2" name="option-E" type="radio" />
    Unselected
  </label>
  <div class="message message--error">Error message</div>
</div>
