{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Bullet point</h1>
  {{ volunteer.bulletList(items=['First item', 'Second item: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo.', 'Third item']) }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.bulletList(items=['First item', 'Second item', 'Third item']) }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/bullet-list/_bullet-list.scss' ignore missing %}
  </textarea>
{% endblock %}
