{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Colours</h1>
  {% include 'swatches/colours/_colours.njk' %}
{% endblock %}
