{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Date picker field</h1>
  {{ volunteer.datePickerField('Date', 'date-field', type='text', placeholder='', disabled='', validation='') }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.datePickerField('Date', 'date-field', placeholder='', disabled='', validation='') }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/date-picker-field/_date-picker-field.scss' ignore missing %}
  </textarea>
{% endblock %}
