{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Dropdown select</h1>
  <p><small>To illustrate the styling of <em>checked</em> and <em>hover</em> states, <code>.hover</code> and <code>.checked</code> classes have been added to simulate these states. These classes are not required in production where the <code>:hover</code> and <code>:checked</code> pseudo-classes are used.</small></p>
  {{ volunteer.dropdownSelect('Please choose from the following options:', 'select-id', ['Option 1', 'Option 2', 'Option3']) }}
  <div class="error">
    {{ volunteer.dropdownSelect('Please choose from the following options: (Error)', 'select-id', ['Option 1', 'Option 2', 'Option3']) }}
  </div>
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.dropdownSelect('Please choose from the following options:', 'select-id', ['Option 1', 'Option 2', 'Option3']) }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/dropdown-select/_dropdown-select.scss' ignore missing %}
  </textarea>
{% endblock %}
