{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">File upload</h1>
  <form id="file-upload" method="GET" action="file-upload-handler.html">
    {{ volunteer.fileUpload() }}
    {# <button id="upload" class="button button--primary" type="button">Upload</button> #}
  </form>
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.fileUpload() }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/file-upload/_file-upload.scss' ignore missing %}
  </textarea>
{% endblock %}
