{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">File upload</h1>
  <p><small>Drag and  drop file upload using <i>XMLHttpRequest</i> requires support for the <code>draggable</code> method, the <code>FormData</code> XHR method and the <code>FileReader</code> API. These are not supported in IE9,  so a fallback solution is needed for this browser.</small></p>
  <p><small><i><b>NOTE:</b> Uploading the chosen file(s) will depend on the component's parent form submission. The actual method for uplaoding the file will depend on the implementation - front/back end, AJAX/legacy (IFRAME?), etc.</i></small></p>
  {% include 'components/file-upload/_file-upload.njk' %}
  {{ volunteer.fileUpload() }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.fileUpload() }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/file-upload/_file-upload.scss' ignore missing %}
  </textarea>
{% endblock %}
