{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Heading</h1>
  {{ volunteer.heading('Your details') }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.heading('Your details') }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/heading/_heading.scss' ignore missing %}
  </textarea>
{% endblock %}
