{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Masked date field</h1>
  {{ volunteer.maskedDateField() }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.maskedDateField() }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/input-field/_masked-date-field.scss' ignore missing %}
  </textarea>
{% endblock %}
