{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Page header</h1>
  <div style="padding: 0 24px">
  {% include 'modules/volunteer-page-header/_volunteer-page-header.njk' %}
  </div>
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {% include 'modules/volunteer-page-header/_volunteer-page-header.njk' %}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'modules/volunteer-page-header/_volunteer-page-header.scss' ignore missing %}
  </textarea>
{% endblock %}
