{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Page navigation</h1>
  {{ volunteer.pageNavigation({label: 'Previous', url: '#'}, {label: 'Next', url: '#'}) }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.pageNavigation(['Previous', '#'], ['Next', '#']) }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'modules/volunteer-page-header/_volunteer-page-header.scss' ignore missing %}
  </textarea>
{% endblock %}
