{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Question</h1>
  {{ volunteer.question('Are you registering for yourself or on behalf of someone else?') }}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {{ volunteer.question('Are you registering for yourself or on behalf of someone else?') }}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/question/_question.scss' ignore missing %}
  </textarea>
{% endblock %}
