{% extends "pattern-library-layout.njk" %}

{% import 'macros/volunteer.njk' as volunteer %}

{% block content %}
  <h1 class="pl-heading">Radio button</h1>
  <p><small>To illustrate the styling of <em>checked</em> and <em>hover</em> states, <code>.hover</code> and <code>.checked</code> classes have been added to simulate these states. These classes are not required in production where the <code>:hover</code> and <code>:checked</code> pseudo-classes are used.</small></p>
  {% include 'components/radio-button/_radio-button.njk' %}
  <h2 class="pl-heading">HTML</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/radio-button/_radio-button.njk' %}
  </textarea>
  <h2 class="pl-heading">SCSS</h2>
  <textarea class="pl-code" disabled>
    {% include 'components/radio-button/_radio-button.scss' ignore missing %}
  </textarea>
{% endblock %}
