.masthead {
  @include clearfix;
  padding: 20px 0 10px;
}

.masthead__site-id {
  width: 62.5%;
  height: 40px;
  padding: 20px 0;
  float: left;
  color: $brand-primary;
  font-size: 28px;
  font-weight: bold;
  background: url('/images/logo_cdr.png') left center no-repeat;
  background-size: 120px 80px;
  text-align: right;
}

.masthead__main-sponsor {
  width: 35%;
  height:80px;
  float:right;
  background: url('/images/logo_sydney.png') right center no-repeat;
  background-size: 200px 80px;
  text-align: right;
}
