.radio-button-group {
  position: relative;
  border: none;
  margin: 0 0 28px;
  padding: 0;
}

.radio-button-group--compact {
  .radio-button {
    display: inline;
  }

  label {
    display: inline;
    padding: 0 24px 0 32px;
  }

  .checkmark {
    top: -4px;
  }
}
