<fieldset class="form__field radio-button-group">
  {% for option in options %}
  <div class="radio-button">
    <label>
      <input id="{{ id }}-{{ option | lower | replace(' ', '_') }}" name="{{ id }}" value="{{ option | lower | replace(' ', '_') }}" type="radio" {{ disabled }} {{ validation }} />
      {{ option }}
      <span class="checkmark"></span>
    </label>
  </div>
  {% endfor %}
</fieldset>
