<div class="button button--activity button--primary">Register someone else as a volunteer</div>
<br /><br />
<div class="button button--activity button--primary hover">Register someone else as a volunteer (hover)</div>
<br /><br />
<div class="button button--activity button--primary active">Register someone else as a volunteer (active)</div>
