{#
  Volunteer macros
#}

{# Text components #}
{% macro heading(text) %}
{% include 'components/heading/_heading.njk' %}
{% endmacro %}

{% macro subheading(text) %}
{% include 'components/subheading/_subheading.njk' %}
{% endmacro %}

{% macro question(text) %}
{% include 'components/question/_question.njk' %}
{% endmacro %}

{% macro paragraph(text) %}
{% include 'components/paragraph/_paragraph.njk' %}
{% endmacro %}

{% macro bulletList(items=['Item 1', 'Item 2']) %}
{% include 'components/bullet-list/_bullet-list.njk' %}
{% endmacro %}

{% macro message(type='info', text) %}
{% include 'components/message/_message.njk' %}
{% endmacro %}

{% macro prompt(text) %}
{% include 'components/prompt/_prompt.njk' %}
{% endmacro %}

{# Form components #}
{% macro form(id, action, method='get') %}
{% include 'components/form/_form.njk' %}
{% endmacro %}

{% macro inputField(label, id, type='text', size='', placeholder='', disabled='', validation='') %}
{% include 'components/input-field/_input-field.njk' %}
{% endmacro %}

{% macro shortInputField(label, id, type='text', size='short', placeholder='', disabled='', validation='') %}
{% include 'components/input-field/_input-field.njk' %}
{% endmacro %}

{% macro maskedDateField(label, id, type='text', size='', placeholder='', disabled='', validation='') %}
{% include 'components/masked-date-field/_masked-date-field.njk' %}
{% endmacro %}

{% macro passwordField(label, id, size='long', placeholder='', disabled='', validation='') %}
{% include 'components/password-field/_password-field.njk' %}
{% endmacro %}

{% macro checkbox(label, id, disabled='', validation='') %}
{% include 'components/checkbox/_checkbox.njk' %}
{% endmacro %}

{% macro radioButton(label, id, disabled='', validation='') %}
{% include 'components/radio-button/_radio-button.njk' %}
{% endmacro %}

{% macro checkboxGroup(id, options=['Checkbox label'], disabled='', validation='') %}
{% include 'components/checkbox-group/_checkbox-group.njk' %}
{% endmacro %}

{% macro radioButtonGroup(id, options=['Radio button label'], disabled='', validation='') %}
{% include 'components/radio-button-group/_radio-button-group.njk' %}
{% endmacro %}

{% macro conditionalCheckboxGroup(id, options=[{ label: 'Label', id: 'id' }], disabled='', validation='') %}
{% include 'components/conditional-checkbox-group/_conditional-checkbox-group.njk' %}
{% endmacro %}

{% macro dropdownSelect(label, id, options, disabled='', validation='') %}
{% include 'components/dropdown-select/_dropdown-select.njk' %}
{% endmacro %}

{% macro segmentedControl(label='Sex', id='sex', options=['Male', 'Female'], disabled='', validation='') %}
{% include 'components/segmented-control/_segmented-control.njk' %}
{% endmacro %}

{% macro button(label='Submit', type='button', order='primary', formaction='') %}
{% include 'components/button/_button.njk' %}
{% endmacro %}

{% macro dateFieldGroup(legend='Date of birth', id="date", disabled='', validation='')%}
{% include 'components/date-field-group/_date-field-group.njk' %}
{% endmacro %}

{% macro fileUpload() %}
{% include 'components/file-upload/_file-upload.njk' %}
{% endmacro %}

{% macro postcodeLookup(id='postcoode') %}
{% include 'components/postcode-lookup/_postcode-lookup.njk' %}
{% endmacro %}

{# Navigation components #}
{% macro progressIndicator(step, steps) %}
{% include 'components/progress-indicator/_progress-indicator.njk' %}
{% endmacro %}

{% macro pageNavigation(previous={ label: 'Back', url: '#' }, next={ label: 'Continue', url: '#' }) %}
{% include 'components/page-navigation/_page-navigation.njk' %}
{% endmacro %}

{% macro tabBar(tabs=[{label: 'tab 1', url: '#'}]) %}
{% include 'components/tab-bar/_tab-bar.njk' %}
{% endmacro %}

{# Other page compoents #}
{% macro activityButton( text, icon='none', order='primary', url='' ) %}
{% include 'components/activity-button/_activity-button.njk' %}
{% endmacro %}
