.checkbox {
  display: block;
  position: relative;
  margin-bottom: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    display: block;
    padding-left: 2.5em;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid $grey-35;
    border-radius: 4px;
    background-color: $white;
    box-shadow: inset 0 3px 0 0 $grey-66;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 0;
      width: 6px;
      height: 12px;
      border: 1px solid $white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  [type="checkbox"] {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: $orange;
      border-color: $orange;
      box-shadow: none;

      &:hover {
        background-color: $orange-dark;
        border-color: $orange-dark;
      }

      &:after {
        display: block;
      }
    }
  }

  &:hover [type="checkbox"] ~ .checkmark,
  &.hover [type="checkbox"] ~ .checkmark {
    background-color: $orange-light;
  }

  &:hover [type="checkbox"]:checked ~ .checkmark,
  &.hover [type="checkbox"]:checked ~ .checkmark {
    background-color: $orange-dark;
    border-color: $orange-dark;
  }

  &.error [type="checkbox"] ~ .checkmark {
    border-color: $purple;
    border-width: 3px;
  }

  &.error:hover [type="checkbox"] ~ .checkmark,
  &.error.hover [type="checkbox"] ~ .checkmark {
    background-color: $purple-light;
  }
}
