<div class="checkbox">
  <label>
    <input id="option-1" name="option" type="checkbox" />
    Unselected
    <span class="checkmark"></span>
  </label>
</div>
<div class="checkbox hover">
  <label>
    <input id="option-2" name="option" type="checkbox" />
    Unselected (Hover)
    <span class="checkmark"></span>
  </label>
</div>

<div class="checkbox">
  <label>
    <input id="option-3" name="option" type="checkbox" checked />
    Selected (Checked)
    <span class="checkmark"></span>
  </label>
</div>

<div class="checkbox hover">
  <label>
    <input id="option-4" name="option" type="checkbox" checked />
    Selected (Checked, Hover)
    <span class="checkmark"></span>
  </label>
</div>

<div class="checkbox error">
  <label>
    <input id="option-5" name="option" type="checkbox" />
    Unselected (Error)
    <span class="checkmark"></span>
  </label>
</div>

<div class="checkbox error hover">
  <label>
    <input id="option-6" name="option" type="checkbox" />
    Unselected (Error, Hover)
    <span class="checkmark"></span>
  </label>
  <div class="msg-error">Error text</div>
</div>
