.dropdown-select-2 {
  position: relative;
  margin-bottom: 28px;

  label {
    @include small-font;
    padding-right: 16px;
  }

  select {
    // @include hide-visually;
    font-size: $base-font-size;
  }

  .dropdown {
    display: block;
    margin: 8px 0 0;
    box-sizing: border-box;
    border: 2px solid $border-color;
    box-shadow: 0 4px 0 0 $border-shadow-color;

    .dropdown__selected,
    .dropdown__option {
      @include small-font;
      width: 100%;
      // height: 41px;
      font-weight: 400;
      color: $grey-L20;
      background-color: $white;
      box-sizing: border-box;
      padding: 8px;
    }

    .dropdown__selected {
      position: relative;

      &:after {
        position: absolute;
        top: 18px;
        right: 18px;
        color: black;
        width: 12px;
        height: 6px;
        content: '\00a0';
        background: url('/images/arrow-down-grey.svg') center center no-repeat;
      }
    }

    &.selected {
      border-color: $coral;

      .dropdown__selected {
        color: $white;
        background-color: $coral;

        &:hover {
          background-color: $coral-D20;
        }

        &:after {
          background-image: url('/images/arrow-down-white.svg');
        }
      }

      &:hover {
        border-color: $coral-D20;
      }
    }

    .dropdown__option {
      display: none;
    }

    &:hover {
      border-color: $border-hover-color;
    }

    &.error {
      border: 3px solid $ruby;

      .dropdown__selected:after {
        background-image: url('/images/arrow-down-purple.svg')
      }
    }

    &.open {
      border-color: $coral;

      .dropdown__selected {
        border-bottom: 2px solid $coral;

        &:after {
          background-image: url('/images/arrow-down-orange.svg');
        }
      }

      .dropdown__option {
        color: $coral;
        border-bottom: 1px solid $coral;

        &:last-child {
          border: 0;
        }

        &:hover {
          color: $coral-D20;
          background-color: $coral-L32;
        }
      }
    }

    &.open.selected {
      .dropdown__selected {
        border-bottom: 2px solid $coral;

        &:after {
          background-image: url('/images/arrow-down-white.svg');
        }
      }
    }
  }

  .error &,
  &.error {
    .dropdown {
      border: 3px solid $ruby;

      .dropdown__selected:after {
        background-image: url('/images/arrow-down-purple.svg')
      }

      &.open {
        border-color: $coral;

        .dropdown__selected {
          border-bottom: 2px solid $coral;

          &:after {
            background-image: url('/images/arrow-down-orange.svg');
          }
        }
      }
    }
  }
}
