.main-navigation {
  @include clearfix;
  background-color: $grey-L60;
}

.menu--site {
  background-color: $grey-L60;

  a {
    color: $grey;
  }
}

.menu--user {
  background-color: $brand-primary;
  float: right;

  a {
    color: $white;
    font-weight: 400;
    border-right: 1px solid $white;
  }
}
