<header class="masthead" role="banner">
  <div class="site-logo">
    <img src="/images/logo-step-up.png" alt="Step up for Dementia" />
  </div>
  <div class="user-admin">
    <ul class="user-admin__links">
      <li class="user-admin__link"><a href="#">Register</a></li>
      <li class="user-admin__link"><a href="#">Login</a></li>
    </ul>
  </div>
</header>
