.masthead {
  background-color: $white;
  padding: 10px 0;
  height: 100px;

  @include from(2) {
    height: 120px;
  }

  .site-logo img {
    height: 80px;

    @include from(2) {
      height: 100px;
    }
  }
}
