<div class="user-bar">
  <span class="user-bar__name">Username</span>
  <span class="user-bar__surname">Surname</span>
</div>
<br />
<div class="user-bar">
  <span class="user-bar__role">Volunteer</span>
  <span class="user-bar__name">Username</span>
  <span class="user-bar__surname">Surname</span>
  <button class="button button--tertiary">Add volunteer</button>
  <span class="user-bar__info">Represented by <em>Proxy Name</em></span>
</div>
