<header class="user-bar">
  <h1 class="primary-user"><span class="primary-user__label">Volunteer</span>Username Surname</h1>
</header>
<br />
<header class="user-bar">
  <div class="user-bar__users">
    <h1 class="volunteer"><span class="label">Volunteer</span>Username Surname</h1>
    <h2 class="particpant"><span class="label">Represented by</span> Proxy Name</h2>
  </div>
  <div class="user-bar__menu">{{ volunteer.dropdownSelect('Accounts') }}</div>
</header>
