<fieldset class="form__field conditional-checkbox-group">
  <div class="radio-button">
    <label>
      <input id="{{ id }}-no" name="{{ id }}-yesno" data-checkboxes-enabled="false" value="no" type="radio" />
      No
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="radio-button">
    <label>
      <input id="{{ id }}-yes" name="{{ id }}-yesno" data-checkboxes-enabled="true" value="yes" checked type="radio" />
      Yes
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="checkboxes">
    {% for option in options %}
    <div class="checkbox">
      <label>
        <input id="{{ option.id }}-{{ option.label | lower | replace(' ', '_') }}" name="{{ option.id }}" value="{{ option.label | lower | replace(' ', '_') }}" type="checkbox" />
        {{ option.label }}
        <span class="checkmark"></span>
      </label>
    </div>
    {% endfor %}
  </div>
</fieldset>
