<!DOCTYPE html>
<html lang="en">

{% include "partials/_head.njk" %}

<body>
  <div class="page-header">
    <div class="page-header__wrapper wrapper">
      {% include "modules/site-masthead/_site-masthead.njk" %}
      {% include "modules/site-navigation/_site-navigation.njk" %}
    </div>
  </div>

  <div class="page-content">
    <div class="page-content__wrapper wrapper">
      {% block content %}{% endblock %}
    </div>
  </div>

  <div class="page-footer">
    <div class="page-footer__wrapper wrapper">
      {% include "modules/site-footer/_site-footer.njk" %}
    </div>
  </div>

  {% include "partials/_scripts.njk" %}
</body>
</html>
